body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iphone {
  position: relative;
  justify-content: center;
}

.iphone_border {
  height: 700px;
  width: 330px;
  border: solid 5px;
  border-radius: 50px;
  border-color: grey;
  display: flex;
  background: #efffd9;
}

.iphone_intern_border {
  height: 685px;
  width: 320px;
  border: solid 8px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
}

.iphone_notch {
  height: 25px;
  width: 170px;
  background: #000;
  display: flex;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.sound_notch {
  position: absolute;
  height: 5px;
  width: 40px;
  background: rgb(27, 26, 26);
  border-radius: 10px;
  top: 3%;
}

.left_button_1 {
  position: absolute;
  background: #000;
  height: 20px;
  width: 3px;
  left: -2px;
  top: 15%;
  border-radius: 200px;
}

.left_button_2 {
  position: absolute;
  background: #000;
  height: 60px;
  width: 3px;
  left: -2px;
  top: 23%;
  border-radius: 2000px;
}

.left_button_3 {
  position: absolute;
  background: #000;
  height: 60px;
  width: 3px;
  left: -2px;
  top: 35%;
  border-radius: 2px;
}

.right_button {
  position: absolute;
  background: #000;
  height: 80px;
  width: 3px;
  left: 340px;
  top: 25%;
  border-radius: 2px;
}

.title_iphone {
  position: absolute;
  top: 18%;
  font-size: 33px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #062237;
}

.p_iphone {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 10%;
    width: 150px;
    left: 10%;
    font-weight: bold;
}

.card1 {
  position: absolute;
  display: flex;
  top: 30%;
  height: 130px;
  width: 280px;
  background: #062237;
  color: white;
  border-radius: 20px;
  text-align: center;
}

.card2 {
  position: absolute;
  display: flex;
  top: 52%;
  height: 130px;
  width: 280px;
  background: #062237;
  color: white;
  border-radius: 20px;
  text-align: center;
}

.card3 {
  position: absolute;
  display: flex;
  top: 74%;
  height: 130px;
  width: 280px;
  background: #062237;
  color: white;
  border-radius: 20px;
  text-align: center;
}

.logo {
  position: absolute;
  height: 150px;
  top: 3%;
}

.icone_77 {
  position: relative;
  top: 15%;
  left: 3%;
  height: 90px;
}

.icone_20 {
  position: relative;
  top: 15%;
  left: 3%;
  height: 90px;
}

.icone_reciclagem {
  position: relative;
  top: 15%;
  left: 3%;
  height: 90px;
}
